.footer {
  color: #545454;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.footer__copywright {
  margin: 67px auto 0;
}

@media screen and (max-width: 770px) {
  .footer {
    font-size: 14px;
  }

  .footer__copywright {
    margin: 48px auto 0;
  }
}
